* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #373635;
}

/* -------- */

.header {
    width: 100%;
    height: 100px;
    padding-top: 15px;
}

.contenido-header {
    position: relative;
}

.contenido-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
}

.texto-encabezado {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto-encabezado h2 {
    color: #fff;
    font-size: 8rem;
}

.btn {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    text-transform: capitalize;
    padding: 1rem 5rem;
    border-radius: 4px;
    transition: all .3s ease-in-out;
    border: 3px solid #f3f0e8;
}

.bordes {
    border: 3px solid #847549;
}

#navDesktop {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 75vh;
    right: 2.5%;
    top: 20px;
    font-size: x-large;
}

#navDesktop a {
    text-decoration: none;
    color: #a19a8f;
}

video {
    width: 100%;
    height: 70%;
}

/* seccion nosotros */
.contenedor-nosotros {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    padding-top: 4rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.texto-nosotros {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 80%;
}

.texto-nosotros p {
    text-align: center;
    padding-right: 15px;
    color: #d0c8c8;
}

.texto-nosotros .bienvenida {
    font-size: 3rem;
    color: #d0c8c8;
    padding: 15px;
    align-items: center;
    text-align: center;
    padding-bottom: 25px;
}

.texto-nosotros .introduccion {
    font-size: larger;
}

.imagenes-nosotros img {
    border-radius: 8px;
    width: fit-content;
}

.imagenes-nosotros {
    padding-top: 20px;
}

.btn {
    text-align: center;
    align-self: center;
    background-color: transparent;
    font-weight: bold;
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 2rem;
}

/* -------- */
.texto-encabezado h2 {
    text-transform: uppercase;
}

.btn-hp {
    padding-bottom: 30px;
    height: 100px;
    padding-top: 120px;
    text-transform: uppercase;
}

.btn-hp h2 {
    text-align: center;
    font-size: 55px;
}

/* -------- */
.menu {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}

.card.front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(29, 25, 25, 0.4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(90, 90, 90);
    padding: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #fff;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #fff;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}


/* -----FOOTER------ */
footer {
    width: 100%;
    background-color: #0f0d0d;
}

.contai {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.contai>div>h2 {
    color: #fbf9fa;
    font-family: sans-serif;
    font-size: 24px;
    padding: 20px 0;
}

.contai>div>ul {
    list-style-type: none;
}

.contai>div>ul>li {
    margin: 16px 0;
    cursor: pointer;
}

.contai>div>ul>li>a {
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
    position: relative;
    left: 0;
    padding: 2px;
    color: #a19a8f;

    transition: all 0.4s;
}

.container>div>ul>li>a:hover {
    left: 8px;
}

.contai>div>ul>li>a::selection {
    background-color: red;
    color: #000;
}

.contai>div>form {
    background-color: #302a1b;
    margin: 200 10px;
    padding: 6px 14px;
    border-radius: 7px;
    width: 100%;
}

.contai>div>form>input {
    border: none;
    outline: none;
    font-size: 20px;
    width: 270px;
    background-color: transparent;
    color: #fff;
}

.contai>div>form>button {
    padding: 14px 26px;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 7px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}



@media (min-width: 455px) and (max-width: 555px) {
    body {
        color: #fbf9fa;
    }

    .encabezado {
        position: relative;
        justify-content: center;
        /* min-height: 100vh; */
        text-align: center;
    }

    .texto-nosotros {
        width: 100%;
    }

    .texto-nosotros p {
        padding-right: 5%;
        padding-left: 5%;
    }

    #navDesktop {
        display: none;
        pointer-events: unset;
    }

    .back-video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .contenedor-nosotros {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }

    .texto-encabezado h2 {
        display: none;
    }

    .imagenes-nosotros {
        width: 100%;
    }

    .imagen1 {
        align-self: center;
        width: 100%;
        overflow: hidden;
    }

    .btn {
        font-size: 2.2rem;
        margin-left: 5%;
        margin-right: 5%;
    }

    .bordes {
        border: 4px solid #fff;
    }

    /* ----- */
    .btn-hp {
        padding: 20px;
        align-items: center;
    }

    .btn-hp h2 {
        font-size: 25px;
    }

    .btn-hp p {
        font-size: 20px;
    }

    .menu {
        padding: 35px;
        flex-direction: column;
    }

    .menu .card {
        padding: 5px;
    }

    .header {
        text-align: center;
        font-size: 25px;
    }

    /* -----footer en general--- */
    footer {
        margin: 0;
        width: 100%;
    }

    footer .contai {
        margin: 0;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .contai div {
        align-items: center;
    }

    .contai h2 {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .contai ul {
        margin: 0;
        padding: 0;

    }

    div h2 {
        text-align: center;
    }

    div form {
        margin: 10px;
        padding: 8px;
    }

    .text {
        align-items: center;
    }

    form button {
        padding: 4px;
    }

}