*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #373635;
    margin: 0;
    color: #373635;
}

header {
    padding-top: 15px;
    width: 100%;
    height: 100px;
    background-color: #000;
}

.nav-desktop {
    position: relative;
    display: flex;
    float: right;
    justify-content: space-between;
    width: 75vh;
    right: 2.5%;
    top: 20px;
    font-size: x-large;
}

.nav-desktop a {
    text-decoration: none;
    color: #a19a8f;
}

.content-box {
    display: grid;
    grid-template-rows: fit-content 750px 750px;
    overflow: hidden;
    margin: 0;
    background-color: #fafafa;
}

.mobile-image {
    display: none;
    max-width: 100%;
    height: fit-content;
}

/* -----SLIDESHOW----- */

.slideshow-mobile {
    display: none;
}

.slideshow {
    height: 100%;
    overflow: hidden;
    background-color: #373635;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* ---INTRODUCCION--- */

.introduccion {
    display: flex;
    overflow: visible;
    align-items: center;
    background-color: #373635;
    color: #fafafa;
    width: 100%;
    height: 100%;
}

.introduccion-imagen {
    max-width: 35%;
    rotate: 180deg;
    height: 100%;
}

.introduccion-imagen img {
    height: 105%;
    position: relative;
    top: 0;
}

.introduccion-texto h1 {
    font-size: xx-large;
    margin-right: 7%;
}

.introduccion-texto p {
    font-size: larger;
    margin-top: 2%;
    margin-right: 7%;
}

/* ----CONTACTO----- */

.contacto {
    display: flex;
    overflow: hidden;
    align-items: center;
    color: #373635;
    background-color: #fafafa;
    width: 100%;
}

.contacto-imagen {
    max-width: 35%;
}

.contacto-texto {
    display: grid;
    grid-template-rows: 20% 45% 1fr;
    padding-top: 5%;
    width: 80%;
    height: 100%;
}

.contacto-texto h1 {
    font-size: xx-large;
    margin-top: 6%;
    margin-left: 7%;
}

.contacto-texto p {
    font-size: larger;
    padding-top: 7%;
    margin-left: 7%;
}

.contacto-texto a {
    font-size: x-large;
    justify-self: center;
    text-align: center;
    text-decoration: none;
    margin-top: 5%;
    padding: 8px;
    color: #373635;
    border: 1px solid #373635;
    border-radius: 5px;
    width: 350px;
    height: 50px;
}

/* -----FOOTER------ */

footer {
    width: 100%;
    background-color: #0f0d0d;
}

.contai {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.contai>div>h2 {
    color: #fbf9fa;
    font-family: sans-serif;
    font-size: 24px;
    padding: 20px 0;
}

.contai>div>ul {
    list-style-type: none;
}

.contai>div>ul>li {
    margin: 16px 0;
    cursor: pointer;
}

.contai>div>ul>li>a {
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
    position: relative;
    left: 0;
    padding: 2px;
    color: #a19a8f;
    transition: all 0.4s;
}

.container>div>ul>li>a:hover {
    left: 8px;
}

.contai>div>ul>li>a::selection {
    background-color: red;
    color: #000;
}

.contai>div>form {
    background-color: #302a1b;
    margin: 200px 10px;
    padding: 6px 14px;
    border-radius: 7px;
    width: 100%;
}

.contai>div>form>input {
    border: none;
    outline: none;
    font-size: 20px;
    width: 270px;
    background-color: transparent;
    color: #fff;
}

.contai>div>form>button {
    padding: 14px 26px;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 7px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

/* ------------------------ */

@media (min-width: 455px) and (max-width: 900px) {

    .content-box {
        flex-wrap: wrap;
        grid-template-rows: fit-content 700px 600px;
    }

    .nav-desktop {
        margin-left: 1%;
        margin-right: 1%;
        width: 90%;
        font-size: 1.2em;
        font-weight: bold;
        align-content: space-between;
    }

    .mobile-image {
        display: flex;
    }

    .mobile-image img {
        max-width: 100%;
    }

    .slideshow {
        display: none;
    }

    .introduccion {
        background-image: url(../images/coffee-beans.png);
        background-position: right;
        background-size: 25%;
        background-repeat: repeat-y;
        padding-bottom: 15%;
    }

    .introduccion-texto {
        padding-top: 10%;
        padding-left: 5%;
        padding-right: 10%;
    }

    .contacto {
        background-image: url(../images/coffee-beans-rotado.png);
        background-position: left;
        background-size: 25%;
        background-repeat: repeat-y;
        width: 120%;
    }

    .contacto-texto {
        grid-template-rows: 20% 65% 1fr;
        padding-left: 15%;
        margin-bottom: 10%;
        height: 100%;
    }

    .introduccion-imagen,
    .contacto-imagen {
        display: none;
    }

    .contacto a {
        margin-bottom: 5%;
    }

    /* -----footer en general--- */
    footer {
        margin: 0;
        width: 100%;
        height: fit-content;
    }

    footer .contai {
        margin: 0;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .contai div {
        align-items: center;
    }

    .contai h2 {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .contai ul {
        margin: 0;
        padding: 0;
    }

    div h2 {
        text-align: center;
    }

    div form {
        margin: 10px;
        padding: 8px;
    }

    .text {
        align-items: center;
    }

    form button {
        padding: 4px;
    }

}